<h1>ショッピングカート</h1>
<% if @cart.cart_items.any? %>
  <table>
    <tr>
      <th>商品</th>
      <th>価格</th>
      <th>数量</th>
      <th>合計金額</th>
      <th>削除</th>
    </tr>
    <% @cart.cart_items.each do |cart_item| %>
      <tr>
        <td><%= cart_item.product.name %></td>
        <td><%= number_to_currency(cart_item.product.price) %></td>
        <td><%= cart_item.quantity %></td>
        <td><%= number_to_currency(cart_item.product.price * cart_item.quantity) %></td>
        <td><%= link_to '削除', remove_from_cart_path(cart_item_id: cart_item.id), method: :delete %></td>
      </tr>
    <% end %>
  </table>
  <p>合計金額: <%= number_to_currency(@cart.cart_items.sum { |item| item.product.price * item.quantity }) %></p>
  <%= link_to 'チェックアウト', '#' %> <!-- チェックアウトページへのリンクを設定 -->
<% else %>
  <p>カートは空です。</p>
<% end %>
<%= link_to '商品一覧に戻る', root_path %>
